<div class="navigation-wrapper">
	<div class="site-name">
		{% if site.logo %}
		<a href="{{ site.github.url }}/{{site.lang}}/"><img src="{{ site.github.url }}/images/{{ site.logo }} "></a>
		{% else %}
		<a href="{{ site.github.url }}/{{site.lang}}/">{{ site.title }}</a>
		{% endif %}
		<br>
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
			<ul style="display: inline-block;width: 70%;">
				<li><a href="/{{site.lang}}/">{% t nav.home %}</a></li>
				<li><a href="/{{site.lang}}/resume/">{% t nav.resume %}</a></li>
				<li><a href="/{{site.lang}}/thesis/">{% t nav.thesis %}</a></li>
				<li><a href="/{{site.lang}}/research/">{% t nav.research %}</a></li>
			</ul>
			<div style="display: inline-block;width: 20%;">


				{% if site.lang == "en" %}
				{% capture link1 %}{{ site.baseurl_root }}/fr{{ page.url}}{% endcapture %}
				<a href="{{ link1 }}">{% t global.lang %}</a>
				{% elsif site.lang == "fr" %}
				{% capture link2 %}{{ site.baseurl_root }}/en{{ page.url }}{% endcapture %}
				<a href="{{ link2 }}">{% t global.lang %}</a>
				{% endif %}


			</div>
		</nav>


	</div><!-- /.top-navigation -->

</div><!-- /.navigation-wrapper -->