$color: white;
$color-border: #478079;
$color-dark: scale-color($color, $lightness: -30%);
$transition: 280ms all 120ms ease-out;

.language-selector {
  li.choice {
    padding-left: 22px;
  }

  .label {
    color: $color;
  }

  .dropdown-toggle::after {
    color: $color;
  }

}

#footer-color-selector {
    .dropdown-toggle::after {
      color: $color;
    }

    .current-theme{
      color: $color;
    }
  
}
