{{ define "main" }}
<div class="list flex-grow-1"> 
  <section id="main-content" class="section list-{{ .Kind }}">
    <h1>{{ .Title }}</h1>
    {{ if eq .Kind "taxonomy" }}
      <ul class="list list-{{ .Kind }}">
        {{ range .Data.Terms.ByCount }}
          <li class="item item-{{ .Page.Kind }}">
            <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a> ({{ .Count }})
          </li>
        {{ end }}
      </ul>
    {{ else }}
      {{ if eq .Site.Params.blog.listStyle "summary" }}
        <div class="posts-list">
          {{ range .Pages }}
            <div class="row row--padded rad-animation-group rad-fade-down rad-waiting rad-animate section--border-bottom">
              {{ .Render "summary" }}
            </div>
          {{ end }}
        </div>
      {{ else }}
        <ul class="posts-list-simple">
          {{ range .Pages }}
            {{ .Render "li" }}
          {{ end }}
        </ul>
      {{ end }}
    {{ end }}
  </section>
</div>
{{ end }}