.container {
    padding-left: 24px;
    padding-right: 24px
}

.container {
    padding-left: 24px;
    padding-right: 24px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: normal;
    color: #000;
    margin-bottom: 8px;
}
@media (min-width: 992px) {
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 10px;
    }
}
h1,
h2 {
    margin-bottom: 16px;
}
h2 {
    font-size: 32px;
}
@media (min-width: 992px) {
    h1 {
        margin-bottom: 10px;
    }
    h2 {
        margin-bottom: 10px;
        font-size: 48px;
    }
}
h3,
h4 {
    font-size: 20px;
    font-weight: 600;
}
@media (min-width: 992px) {
    h3,
    h4 {
        font-size: 32px;
    }
    p {
        line-height: 28px;
    }
}
p {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #333;
}
p + p {
    margin-top: -12px;
}
.display-1 {
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
    color: #000;
}
@media (min-width: 992px) {
    .display-1 {
        font-size: 60px;
    }
}
p a,
span a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}
p a:hover,
span a:hover {
    color: #478079;
    text-decoration: none;
}
.lead {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0px;
    color: #000;
}

br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
}

@media (min-width: 992px) {
    .lead {
        font-size: 18px;
    }
    .contact {
        margin-top: -2px;
    }
}