@font-face {
  font-family: 'adritian-icons';
  src: url('../fonts/adritian-icons.eot?62019798');
  src: url('../fonts/adritian-icons.eot?62019798#iefix') format('embedded-opentype'),
       url('../fonts/adritian-icons.woff2?62019798') format('woff2'),
       url('../fonts/adritian-icons.woff?62019798') format('woff'),
       url('../fonts/adritian-icons.ttf?62019798') format('truetype'),
       url('../fonts/adritian-icons.svg?62019798#adritian-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'adritian-icons';
    src: url('../fonts/adritian-icons.svg?62019798#adritian-icons') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "adritian-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-threads:before { content: '\e800'; } /* '' */
.icon-bluesky:before { content: '\e801'; } /* '' */
.icon-x-twitter:before { content: '\e802'; } /* '' */
.icon-email:before { content: '\e803'; } /* '' */
.icon-tiktok:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\f007'; } /* '' */
.icon-table-list:before { content: '\f00b'; } /* '' */
.icon-download:before { content: '\f019'; } /* '' */
.icon-circle-info:before { content: '\f05a'; } /* '' */
.icon-square-twitter:before { content: '\f081'; } /* '' */
.icon-square-facebook:before { content: '\f082'; } /* '' */
.icon-linkedin:before { content: '\f08c'; } /* '' */
.icon-square-github:before { content: '\f092'; } /* '' */
.icon-circle-arrow-left:before { content: '\f0a8'; } /* '' */
.icon-circle-arrow-right:before { content: '\f0a9'; } /* '' */
.icon-circle-arrow-up:before { content: '\f0aa'; } /* '' */
.icon-circle-arrow-down:before { content: '\f0ab'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-face-smile:before { content: '\f118'; } /* '' */
.icon-square-arrow-up-right:before { content: '\f14c'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-square-xing:before { content: '\f169'; } /* '' */
.icon-stack-overflow:before { content: '\f16c'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-codepen:before { content: '\f1cb'; } /* '' */
.icon-yelp:before { content: '\f1e9'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */
.icon-meetup:before { content: '\f2e0'; } /* '' */
.icon-cloud-arrow-down:before { content: '\f381'; } /* '' */
