/* You can customize theme styles here */
.header .navbar-brand span:first-child{
    color: #478079;
}
.header .container{
    padding-left: 10px;
}

html body ::selection{
    background-color:#488079;color:#fff
}
