{{ if .Site.Data.homepage.contact.enable }}
<section id="contact" class="section section--contact pt-0">
    <div class="container">
        <div class="contact">
            <h2>{{ i18n "contact_title" }}</h2>
            <div class="row pt-2">
                <div class="col-12 col-lg-7">
                    <form action="{{ .Site.Data.homepage.contact.form.action }}" method="{{ .Site.Data.homepage.contact.form.method }}">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <input type="text" name="full_name" id="full_name"
                                       placeholder='{{ i18n "contact_form_name" }}'/>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" name="email" id="email"
                                       placeholder='{{ i18n "contact_form_email" }}'/>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12">
                                <textarea name="message" id="message"
                                          cols="30" rows="3" placeholder='{{ i18n "contact_form_message" }}'></textarea>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">
                                    <i class="{{ .Site.Data.homepage.contact.button.icon }}"></i>
                                    {{ i18n "contact_button" }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-lg-5 contact__info">
                    <h3>{{ i18n "contact_phone_title" }}</h3>
                    <span>{{ i18n "contact_phone_number" }}</span>
                    <h3>{{ i18n "contact_email_title" }}</h3>
                    <span>{{ i18n "contact_email_email" | safeHTML }}</span>
                    <h3>{{ i18n "contact_address_title" }}</h3>
                    <span>{{ i18n "contact_address_address" | safeHTML }}</span>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
