<div class="container-experience">
  <div class="row">
    <h2>{{ i18n "experience_title" }}</h2>
    <p class="lead">{{ i18n "experience_description" }}</p>
  </div>
  <div class="row">
    <div class="col-12 col-lg-4">
      <a
        href="{{ .Site.Data.homepage.experience.button.URL | absURL }}"
        class="btn btn-primary btn-block"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="{{ .Site.Data.homepage.experience.button.icon }}"></i>
        {{ i18n "experience_button" }}
        <i class="icon-arrow-right"></i
      ></a>
    </div>
    <div class="col-12 col-lg-4">
      <a
        href='{{ i18n "experience_button2_url" | absURL }}'
        class="btn btn-frameless"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="{{ .Site.Data.homepage.experience.button2.icon }}"></i>
        {{ i18n "experience_button2" }}
      </a>
    </div>
    {{ if .Site.Data.homepage.experience.button3.icon }}
    <div class="col-12 col-lg-4">
      <a
        href='{{ i18n "experience_button3_url" | absURL }}'
        class="btn btn-frameless"
        rel="noopener noreferrer"
      >
        <i class="{{ .Site.Data.homepage.experience.button3.icon }}"></i>
        {{ i18n "experience_button3" }}
      </a>
    </div>
    {{ end }}
  </div>
</div>
