<footer class="footer w-100 d-print-none" role="contentinfo">


    {{ $footer := where (where .Site.Pages "Type" "footer") "Lang" .Lang }}

    {{ range (sort $footer "Date" "desc") }}
      {{ if .File }}
        {{ warnf "[FOOTER] Path: %s | Lang: %s | IsDraft: %t | Type: %s | Section: %s | Kind: %s" .File.Path .Lang .Draft .Type .Section .Kind }}
      {{ end }}        
      {{ .Content | safeHTML }}
    {{ end }}

  <div class="container items">
    <div class="container">
      <div class="row w-100 align-items-center">
        <div class="footer_left col-12 col-lg-4 mb-3 mb-lg-0 text-center text-lg-start">
          <div class="footer__copy">
            <span>{{ i18n "footer_notice" | safeHTML }}</span>
          </div>
        </div>
       
       
      </div>
    </div>
  </div>
</footer>
