{{ if .Site.Data.homepage.newsletter.enable }}
<section class="section section--cta">
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2>{{ i18n "newsletter_title" }}</h2>
      <div class="rad-subscription-group">
        <form id="rad-subscription" action="">
          <input
            id="rad-subscription-email"
            type="email"
            class="form-control"
            aria-describedby="emailHelp"
            placeholder='{{ i18n "newsletter_placeholder" }}'
            aria-label='{{ i18n "newsletter_placeholder" }}'
          />
          <button type="submit" id="rad-subscription-submit" class="btn btn-light btn-rounded">
            {{ i18n "newsletter_button" }}
          </button>
        </form>
        <div id="rad-subscription-success" class="d-none">
          <p class="lead">{{ i18n "newsletter_success_message" }}</p>
        </div>
        <div id="rad-subscription-fail" class="d-none">
          <p>{{ i18n "newsletter_error_message" }}</p>
        </div>
        <script src='{{ "js/subscription.js" | absURL }}'></script>
      </div>
      <small id="emailHelp" class="form-text text-muted"
        >{{ i18n "newsletter_note" }}</small
      >
    </div>
  </div>
</div>
</section>
{{ end }}
