<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html 
	lang="en" 
	{{- if .Site.Params.colorTheme.auto.disable }}
	data-bs-theme="{{ .Site.Params.colorTheme.forced.theme }}"
	theme-forced="true"
	theme-auto="false"
	{{- end }}
>

<head>

    {{ partial "head.html" . }}

    {{ partial "head_custom.html" . }}

</head>

<body class="{{ if .IsHome }}home{{ end }}">

	{{ partial "header.html" . }}

	{{ range .Site.Params.sections }}
	{{ partial . $ }}
	{{ end }}

	{{ partial "footer.html" . }}
    {{ partial "base-foot.html" . }}
</body>

</html>
<!-- endinject -->